[Unit]
Description=VESUM Search in Spring Boot
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/java -jar /artifact/vesumsearch-0.1.0-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target

